<form class="flexcol {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{data.name}}" placeholder="Circle Name" />
            </h1>
            
            <div class="circle-stats">
                <h3>Circle Stats</h3>
                <div class="stats-grid">
                    <div class="stat-field">
                        <label>Strike</label>
                        <input type="number" name="system.stats.strike" value="{{systemData.stats.strike}}"/>
                    </div>
                    <div class="stat-field">
                        <label>Defense</label>
                        <input type="number" name="system.stats.defense" value="{{systemData.stats.defense}}"/>
                    </div>
                    <div class="stat-field">
                        <label>Will</label>
                        <input type="number" name="system.stats.will" value="{{systemData.stats.will}}"/>
                    </div>
                    <div class="stat-field">
                        <label>Insight</label>
                        <input type="number" name="system.stats.insight" value="{{systemData.stats.insight}}"/>
                    </div>
                    <div class="stat-field">
                        <label>Speed</label>
                        <input type="number" name="system.stats.speed" value="{{systemData.stats.speed}}"/>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor descriptionHTML target="system.description" button=true editable=editable engine="prosemirror"}}
        </div>
    </section>
</form>
